<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /leon/
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /leon/index.php [L]
</IfModule>